// * means ASTi specific style
// Import partials from `sass_dir` (defaults to `_sass`)
// Theme specific colors
{{ $theme := site.Data.themes.dark }}

$clr1: {{ $theme.clr1 | default "#fc466b" }};
$clr2: {{ $theme.clr2 | default "#3f5efb" }};
$nav: {{ $theme.nav | default "#212121" }}; //background
$antinav: {{ $theme.antinav | default "#cccccc" }}; // text
$mat: {{ $theme.mat | default "#121212" }};
$clr1-light: mix($clr1, $nav, 2%);
$clr2-light: mix($clr2, $nav, 2%);
$nav-light: mix($nav, $antinav, 2%); // text
$antinav-light: mix($antinav, $nav, 2%); // background

// Import partials from sass dir
@import
  "bootstrap/bootstrap"
;

/*!
 * Custom CSS
 */

html {
scroll-behavior: smooth;
}

// specifying this at top, so that, it is overridden when need be
body, .table {
background: $nav;
color: $antinav;
}

.form-control {
  background-color: $mat;
  color: $antinav;
}

.form-control:disabled, .form-control[readonly] {
  background-color: $antinav-light;
}


// *
.nav-item {
@extend .m-1;
}

// *
.modal-content {
background: $nav;
}

// adding .anchor class to anchor makes `element hiding behind fixed-top-navbar` problem go.
// just that a distinct anchor shall be created (preferably with <span>) as its visibility is hidden.
// https://stackoverflow.com/a/13184714
.anchor {
display: block;
position: relative;
top: -5.45rem;
visibility: hidden;
}

.stick {
position: fixed;
top: 0;
left: 0;
right: 0;
}

// Enable animation for navbar and font awesome
.navbar, .fas, .fab, .far {
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}

/*
// Change color to clr1 on hovering anchored FontAwesome
a .fas:hover, a .fab:hover, a .far:hover {
color: $clr1;
}
*/

//
.btn {
@extend .shadow-sm;
cursor: pointer;
}

//
input[type="url"]:hover, input[type="url"]:focus, input[type="text"]:hover, input[type="text"]:focus, textarea:hover, textarea:focus, select:hover, select:focus, .btn:hover {
@extend .shadow;
transition: all 0.3s ease 0s;
}

// text-gradient- for brand name
.tg {
background: -webkit-linear-gradient(36deg, $clr1 0%, $clr2 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

// Styling popover to make it a little cozy
.popover {
border: 0;
@extend .shadow;
}

.popover-header {
background-color: $nav; 
color: $antinav; 
font-size: 1.1rem;
text-align: center;
}

.popover-body {
background-color: $nav;
color: $antinav;
padding: 1.25rem;
}

// Styling table, so that class names are not necessary. Very handy for markdown rendered content!
table {
@extend .table, .table-bordered;
}
th {
@extend .text-center, .align-middle;
}
td {
@extend .align-middle;
}

//
.main-gradient {
background: $clr1;
background: linear-gradient(36deg, $clr1 0%, $clr2 100%);
}

.main-gradient-light {
background: $clr1-light;
background: linear-gradient(36deg, $clr1-light 20%, $clr2-light 100%); 
}

.text-clr1 {
color: $clr1;
}

.text-clr2 {
color: $clr2;
}

.text-clr1-light {
color: $clr1-light;
}

.text-clr2-light {
color: $clr2-light;
}

.text-nav {
color: $nav;
}

.text-antinav {
color: $antinav;
}

.btn-grad {
background-image: linear-gradient(90deg,  $clr1 0%, $clr2 100%);
}
.btn-grad:hover {
background-position: right center;
}

.bg-mat {
background: $mat;
}

.bg-clr1 {
background: mix($clr1, $clr2, 95%);
}

.bg-clr2 {
background: mix($clr1, $clr2, 5%);
}

.bg-clr1-light {
background: $clr1-light;
}

.bg-clr2-light {
background: $clr2-light;
}

.bg-nav {
background: $nav;
}

.bg-antinav {
background: $antinav;
}

// Lighten class and its usage along with btn class
.lighten-sm {
background: rgba($nav, 0.05);
}

.lighten-md {
background: rgba($nav, 0.1);
}

.lighten {
background: rgba($nav, 0.15);
}

.lighten-lg {
background: rgba($nav, 0.2);
}

.lighten-xlg {
background: rgba($nav, 0.25);
}

.btn.lighten-sm:hover {
background: rgba($nav, 0.1);
}

.btn.lighten-md:hover {
background: rgba($nav, 0.15);
}

.btn.lighten:hover {
background: rgba($nav, 0.2);
}

.btn.lighten-lg:hover {
background: rgba($nav, 0.25);
}

.btn.lighten-xlg:hover {
background: rgba($nav, 0.3);
}

.btn.lighten-sm:focus {
background: rgba($nav, 0.2);
}

.btn.lighten-md:focus {
background: rgba($nav, 0.25);
}

.btn.lighten:focus {
background: rgba($nav, 0.3);
}

.btn.lighten-lg:focus {
background: rgba($nav, 0.35);
}

.btn.lighten-xlg:focus {
background: rgba($nav, 0.4);
}

// Colouring Font-Awesome icons
.card .btn-sm .fa-shoe-prints, .card .btn-sm .fa-info, .card .btn-sm .fa-question {
color: $clr2;
}

// *
.fa-gitlab {
color: #fca326;
}
