{{ $md := (partial "i-content/content.md" .) }}

<!--  -->
<div class="container shadow-sm p-5 my-4 infocard-content">
  <span class="anchor" id="content_anchor"></span>
  <span class="h4">Content</span>
  <span class="float-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm bg-nav text-clr2 font-weight-bold" data-toggle="modal" data-target="#content-i-pop">
      info
    </button>
  </span>
  <div class="form-group">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="content_chk" checked="">
      <label class="form-check-label" for="content_chk"> Content</label>
    </div>
  </div>
  <div class="content_card">
    <div class="form-group">
      <label class="d-block small text-muted content">
        <textarea class="form-control shadow-sm content" id="content" cols="30" rows="11" placeholder="Contents of the file opened will appear here" disabled></textarea>
      
        &middot; Any additional contents. Markdown supported! <br>
        &middot; Read-only.
      </label>
    </div>
  </div>
  <!-- /content_card -->
</div>

<!-- Modal -->
<div class="modal fade" id="content-i-pop" tabindex="-1" role="dialog" aria-labelledby="content-i-pop-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="content-i-pop-label">How to fill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ $md | markdownify }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
