{{ $md := (partial "i-content/description.md" .) }}

<div class="container shadow-sm p-5 my-4 infocard-description sf-infocard sf-component sf-description">
  <span class="anchor" id="description_anchor"></span>
  <span class="h4">Description</span>
  <span class="float-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm bg-nav text-clr2 font-weight-bold" data-toggle="modal" data-target="#description-i-pop">
      <!--<span class="fas fa-info small"></span>-->info
    </button>
  </span>
    <div class="form-check">
      <label class="form-check-label sf-chk" for="description_chk">
        <input type="checkbox" class="form-check-input sf-chk" id="description_chk" checked="">
       Description</label>
    </div>
  <div class="description_card">
    <div class="form-group">
      <label class="d-block small text-muted description">
        <textarea class="form-control shadow-sm description" cols="30" rows="2" placeholder="Description ..."></textarea>
        &middot; should not again include the name of the software.<br>
        &middot; should not include double-quote `"`
      </label>
    </div>
  </div>
  <!-- /description_card -->
</div>

<!-- Modal -->
<div class="modal fade" id="description-i-pop" tabindex="-1" role="dialog" aria-labelledby="description-i-pop-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="description-i-pop-label">How to fill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ $md | markdownify }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
