{{ $md := (partial "i-content/genre.md" .) }}

<div class="container shadow-sm p-5 my-4 infocard-genre sf-infocard sf-component sf-genre">
  <span class="anchor" id="genre_anchor"></span>
  <span class="h4">Genre</span>
  <span class="float-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm bg-nav text-clr2 font-weight-bold" data-toggle="modal" data-target="#genre-i-pop">
      info
    </button>
  </span>
  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label sf-chk" for="genre_chk">
        <input type="checkbox" class="form-check-input sf-chk" id="genre_chk" checked="">
       Genre</label>
may refer softonic
    </div>
  </div>
  <div class="genre_card">
    <div class="genre_body sf-body">
      <!-- we need to create a datalist input here with add and delete buttons ofcourse -->
      <div class="form-group genre_rec sf-rec">
        <div class="form-check">
          <label class="form-check-label genre_rec_chk sf-rec-chk">
            <input type="checkbox" class="form-check-input genre_rec_chk sf-rec-chk">
            <span class="sf-label-text">1</span></label>
        </div>
        <input type="text" list="genre_list" class="form-control shadow-sm genre" id="genre1" placeholder="genre">
      </div>
      <!-- /genre_body -->
    </div>
    <datalist id="genre_list">
      {{ $opt_array := (sort site.Data.datalist.genre) }}
      {{ range $opt_array }}<option value="{{ . }}">{{ . }}</option>{{ end }}
    </datalist>
    <button class="btn btn-light genre_add_rec sf-add-rec" type="button" data-identity="genre" id="genre_add_rec">Add Row</button>
    <button class="btn btn-danger genre_delete_rec sf-delete-rec" type="button" id="genre_delete_rec">Delete Row</button>
  </div>
  <!-- /genre_card -->
</div>

<!-- Modal -->
<div class="modal fade" id="genre-i-pop" tabindex="-1" role="dialog" aria-labelledby="genre-i-pop-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="genre-i-pop-label">How to fill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ $md | markdownify }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
