{{ $md := (partial "i-content/image.md" .) }}

<div class="container shadow-sm p-5 my-4 infocard-image sf-infocard sf-component sf-image">
  <span class="anchor" id="image_anchor"></span>
  <span class="h4">Image</span>
  <span class="float-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm bg-nav text-clr2 font-weight-bold" data-toggle="modal" data-target="#image-i-pop">
      info
    </button>
  </span>
  <div class="form-check">
    <label class="form-check-label sf-chk" for="image_chk">
      <input type="checkbox" class="form-check-input sf-chk" id="image_chk" checked="">
     Image URL</label>
  </div>
  <div class="image_card">
    
    <div class="form-group sf-body">
      <div class="form-check">
        <label class="form-check-label d-block">
          <input type="radio" class="form-check-input default_image_rdo" name="image_rdo" checked="">
          <span class="small">Default. <span class="text-muted">Logo image of the software should be of atleast 500 px height. Name it to:&nbsp;<b class="image-name"></b><!--and save it to `software-logo` folder in `images` repo-->. `webp` extension is preferred (don't just rename a jpg or svg file to webp though).</span></span>
          <input class="form-control default-image-extension" type="text" placeholder="extension; eg. png, jpg, jpeg" value="webp"></input>
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label d-block">
          <input type="radio" class="form-check-input custom_image_rdo" name="image_rdo">
          <span class="small">Full image URL. <span class="text-muted">For some reason, if default option above doesn't work out, then please enter one logo image URL, ensuring that its license allows sharing.</span></span>
          <input type="url" class="form-control image" id="image" placeholder="Logo image ..."></input>
          
        </label>
      </div>
    </div>
  </div>
  <!-- /image_card -->
</div>

<!-- Modal -->
<div class="modal fade" id="image-i-pop" tabindex="-1" role="dialog" aria-labelledby="image-i-pop-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="image-i-pop-label">How to fill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ $md | markdownify }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
