{{ $md := (partial "i-content/initial_release.md" .) }}

<div class="container shadow-sm p-5 my-4 infocard-initial_release sf-infocard sf-component sf-initial-release">
  <span class="anchor" id="initial_release_anchor"></span>
  <span class="h4">Initial release</span>
  <span class="float-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm bg-nav text-clr2 font-weight-bold" data-toggle="modal" data-target="#initial_release-i-pop">
      info
    </button>
  </span>
  <div class="form-check">
    <label class="form-check-label sf-chk" for="initial_release_chk">
      <input type="checkbox" class="form-check-input sf-chk" id="initial_release_chk" checked="">
     Initial_release</label>
  </div>
  <div class="initial_release_card">
    <div class="form-group">
      <label class="d-block small text-muted initial_release">
        <input type="text" class="form-control shadow-sm initial_release" placeholder="Initial release ..."></input>
        Format- DD Month-Name YYYY   example, 21 January 2008</label>
    </div>
    <br>
    <div class="sf-component">
      <div class="form-check">
        <label class="form-check-label src_initial_release_chk sf-chk">
          <input type="checkbox" class="form-check-input src_initial_release_chk sf-chk" checked="">  Source :</label>
      </div>
      <label class="d-block small text-muted src_initial_release">
        <textarea class="form-control shadow-sm src_initial_release" cols="30" rows="1" placeholder="Source1, Source2, ..."></textarea>
        &middot; mind the space after comma while separating two sources :) <br>
        &middot; did you find the initial release date but not source? search `{software title} {date}`, you will get sources.
      </label>
    </div>
  </div>
  <!-- /initial_release_card -->
</div>

<!-- Modal -->
<div class="modal fade" id="initial_release-i-pop" tabindex="-1" role="dialog" aria-labelledby="initial_release-i-pop-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="initial_release-i-pop-label">How to fill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ $md | markdownify }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
