{{ $md := (partial "i-content/keywords.md" .) }}

<div class="container shadow-sm p-5 my-4 infocard-keywords sf-infocard sf-component sf-keywords">
  <span class="anchor" id="keywords_anchor"></span>
  <span class="h4">Keywords</span>
  <span class="float-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm bg-nav text-clr2 font-weight-bold" data-toggle="modal" data-target="#keywords-i-pop">
      info
    </button>
  </span>
  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label sf-chk" for="keywords_chk">
        <input type="checkbox" class="form-check-input sf-chk" id="keywords_chk" checked="">
       Keywords</label>
    </div>
  </div>
  <div class="keywords_card">
    <div class="form-group">
      <label class="d-block small text-muted keywords">
        <textarea class="form-control shadow-sm keywords" cols="30" rows="1" placeholder="Keyword1, Keyword2, ..."></textarea>
        &middot; Please do not add words that are already there in title, description or categories. Only such words should be added that are not there in either of the three above but are essential to be included in search index for apt identification of software. Examples include names with which the software was previously knows as. <br>
        &middot; mind the space after comma while separating two sources :)</label>
    </div>
  </div>
  <!-- /keywords_card -->
</div>

<!-- Modal -->
<div class="modal fade" id="keywords-i-pop" tabindex="-1" role="dialog" aria-labelledby="keywords-i-pop-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="keywords-i-pop-label">How to fill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ $md | markdownify }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
