{{ $md := (partial "i-content/license.md" .) }}

<div class="container shadow-sm p-5 my-4 infocard-license sf-infocard sf-component sf-license">
  <span class="anchor" id="license_anchor"></span>
  <span class="h4">License</span>
  <span class="float-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm bg-nav text-clr2 font-weight-bold" data-toggle="modal" data-target="#license-i-pop">
      info
    </button>
  </span>
  <div class="form-check">
    <label class="form-check-label sf-chk" for="license_chk">
      <input type="checkbox" class="form-check-input sf-chk" id="license_chk" checked="">
     License</label>
  </div>
  <div class="license_card">
    <div class="license_body sf-body">
      <!-- we need to create a datalist input here with add and delete buttons ofcourse -->
      <div class="form-group license_rec sf-rec">
        <div class="form-check">
          <label class="form-check-label license_rec_chk sf-rec-chk"><input type="checkbox" class="form-check-input license_rec_chk sf-rec-chk">
            <span class="sf-label-text">1</span></label>
        </div>
        <label class="d-block small text-muted license">
          <input type="text" list="license_list" class="form-control shadow-sm license" id="license1" placeholder="License">
          &middot; In case 'Proprietary' is included as a license, make sure to also include atleast either 'Freemium' or 'Commercial' in the license, or both as the case may be. Otherwise license classification system gets confused. <br>
          &middot; If 'Proprietary' is there then 'Freemium' or 'Commercial' has to be there but if 'Freemium' or 'Commercial' is there then 'Proprietary' may or may not be there, as an open-source app can also be a paid app. So, 'Apache v2, Freemium, Commercial' is a valid license. <br>
          &middot; When an open-source app is available for free and paid, then including both 'Freemium' and 'Commercial' in the license is a good idea. Example, Penpot. When an open-source app is available for free only, then not including 'Freemium' is a good idea, since just the license of the app is self-explanatory. Example, Blender.
        </label>
      </div>
      <!-- /license_body -->
    </div>
    <datalist id="license_list">
      {{ $opt_array := (sort site.Data.datalist.license) }}
      {{ range $opt_array }}<option value="{{ . }}">{{ . }}</option>{{ end }}
    </datalist>
    <button class="btn btn-light license_add_rec sf-add-rec" type="button" data-identity="license" id="license_add_rec">Add Row</button>
    <button class="btn btn-danger license_delete_rec sf-delete-rec" type="button" id="license_delete_rec">Delete Row</button>
    <br><br>
    <div class="sf-component">
      <div class="form-check">
        <label class="form-check-label src_license_chk sf-chk">
          <input type="checkbox" class="form-check-input src_license_chk sf-chk" checked="">  Source :</label>
      </div>
      <label class="d-block small text-muted src_license">
        <textarea class="form-control shadow-sm src_license" cols="30" rows="1" placeholder="Source1, Source2, ..."></textarea>
        mind the space after comma while separating two sources :)</label>
    </div>
  </div>
  <!-- /license_card -->
</div>

<!-- Modal -->
<div class="modal fade" id="license-i-pop" tabindex="-1" role="dialog" aria-labelledby="license-i-pop-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="license-i-pop-label">How to fill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ $md | markdownify }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
