{{ $md := (partial "i-content/note.md" .) }}

<!--  -->
<div class="container shadow-sm p-5 my-4 infocard-note sf-infocard sf-component sf-note">
  <span class="anchor" id="note_anchor"></span>
  <span class="h4">Notes</span>
  <span class="float-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm bg-nav text-clr2 font-weight-bold" data-toggle="modal" data-target="#note-i-pop">
      info
    </button>
  </span>
  <div class="form-check">
    <label class="form-check-label sf-chk" for="note_chk">
      <input type="checkbox" class="form-check-input sf-chk" id="note_chk" checked="">
     Note</label>
  </div>
  <div class="note_card">
    <div class="form-group">
      <label class="d-block small text-muted note">
        <textarea class="form-control shadow-sm note" cols="30" rows="11" placeholder="
        Unordered list:
        * Bullet 
        * Bullet
        Ordered list:
        1. Point 1 
        2. Point 2 &#10;
        Hyperlink:
        [Link](https://hyperlink)
        "></textarea>
        Any additional notes. Markdown supported! <br><br>
        What's usually included in notes:<br>
        &middot; In case multiple variants are offered, the comparision of such variants. See Avira for example.
        &middot; One or more "Beginner's Guide" to the software.
      </label>
    </div>
  </div>
  <!-- /note_card -->
</div>

<!-- Modal -->
<div class="modal fade" id="note-i-pop" tabindex="-1" role="dialog" aria-labelledby="note-i-pop-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="note-i-pop-label">How to fill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ $md | markdownify }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
