{{ $md := (partial "i-content/quick_links.md" .) }}

<div class="container shadow-sm p-5 my-4 infocard-quick_links sf-infocard sf-component sf-quick-links">
  <span class="anchor" id="quick_links_anchor"></span>
  <span class="h4">Quick links</span>
  <span class="float-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm bg-nav text-clr2 font-weight-bold" data-toggle="modal" data-target="#quick_links-i-pop">
      info
    </button>
  </span>
  <div class="form-check">
    <label class="form-check-label sf-chk" for="quick_links_chk">
      <input type="checkbox" class="form-check-input sf-chk" id="quick_links_chk" checked="">
      Quick links</label>
  </div>
  <div class="quick_links_card">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">
            #
          </th>
          <th scope="col">
            Name
          </th>
          <th scope="col">
            URL
          </th>
        </tr>
      </thead>
      <tbody class="sf-body">
        <tr class="sf-rec">
          <th scope="row">
            <div class="form-check">
              <label class="form-check-label quick_links_rec_chk sf-rec-chk">
                <input type="checkbox" class="form-check-input quick_links_rec_chk sf-rec-chk">
                <span class="sf-label-text">1</span></label>
            </div>
          </th>
          <td>
            <input type="text" list="quick_links_list" class="form-control name_quick_links" id="name_quick_links1" placeholder="Name">
            <small class="text-muted">Use Chat for IRC, Slack or matrix</small>
          </td>
          <td>
            <textarea class="form-control url_quick_links" id="url_quick_links1" cols="30" rows="1" placeholder="URL"></textarea>
          </td>
        </tr>
      </tbody>
    </table>
    <datalist id="quick_links_list">
      {{ $opt_array := (sort site.Data.datalist.quick_links) }}
      {{ range $opt_array }}<option value="{{ . }}">{{ . }}</option>{{ end }}
    </datalist>
    <button class="btn btn-light quick_links_add_rec sf-add-rec" type="button" data-identity="quick_links" id="quick_links_add_rec">Add Row</button>
    <button class="btn btn-danger quick_links_delete_rec sf-delete-rec" type="button" id="quick_links_delete_rec">Delete Selected Row</button>
  </div>
  <!-- /quick_links_card -->
</div>

<!-- Modal -->
<div class="modal fade" id="quick_links-i-pop" tabindex="-1" role="dialog" aria-labelledby="quick_links-i-pop-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="quick_links-i-pop-label">How to fill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ $md | markdownify }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
