{{ $md := (partial "i-content/rating.md" .) }}

<div class="container shadow-sm p-5 my-4 infocard-rating sf-infocard sf-component sf-rating">
  <span class="anchor" id="rating_anchor"></span>
  <span class="h4">Rating</span>
  <span class="float-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm bg-nav text-clr2 font-weight-bold" data-toggle="modal" data-target="#rating-i-pop">
      info
    </button>
  </span>
  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label sf-chk" for="rating_chk">
        <input type="checkbox" class="form-check-input sf-chk" id="rating_chk" checked="">
       Rating</label>
    </div>
  </div>
  <div class="rating_card">
    <div class="table-responsive-md">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">
              #
            </th>
            <th scope="col">
              Name
            </th>
            <th scope="col">
              Rating
            </th>
            <th scope="col">
              Opinion type
            </th>
            <th scope="col">
              Source
            </th>
          </tr>
        </thead>
        <tbody class="sf-body">
          <tr class="sf-rec">
            <th scope="row">
              <div class="form-check">
                <label class="form-check-label rating_rec_chk sf-rec-chk">
                  <input type="checkbox" class="form-check-input rating_rec_chk sf-rec-chk">
                  <span class="sf-label-text">1</span></label>
              </div>
            </th>
            <td>
              <div class="form-group">
                <input type="text" list="rating_list" class="form-control shadow-sm name_rating" id="name_rating1" size="8" placeholder="Name">
                <input type="text" class="form-control shadow-sm remarks_rating" id="remarks_rating1" size="8" placeholder="Remarks">
              </div>
            </td>
            <td>
              <div class="form-group form-inline">
                <input type="text" id="rate_rating1" size="2" class="form-control shadow-sm rate_rating" placeholder="Rating"> &nbsp;/&nbsp; <input type="text" id="outof_rating1" size="2" class="form-control shadow-sm outof_rating" placeholder="Out of">
              </div>
            </td>
            <td>
              <div class="form-group">
                <div class="form-check">
                  <label class="form-check-label form-inline">
                  <input type="radio" class="form-check-input users_rating_rdo" name="users_pro_rating1" id="users_rating_rdo1" checked="">
                  Based on &nbsp;<input type="text" id="num_rating1" size="4" class="form-control shadow-sm num_rating" placeholder="number of">&nbsp; users' opinion
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label form-inline">
                  <input type="radio" class="form-check-input pro_rating_rdo" name="users_pro_rating1" id="pro_rating_rdo1">
                  Based on a professional's opinion
                  </label>
                </div>
              </div>
            </td>
            <td>
              <div class="form-group form-inline sf-component">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input src_rating_chk sf-chk" id="src_rating_chk1" checked="">
                </div>
                <textarea class="form-control shadow-sm src_rating" id="src_rating1" cols="20" rows="2" placeholder="Source"></textarea>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <datalist id="rating_list">
      {{ $opt_array := (sort site.Data.datalist.rating) }}
      {{ range $opt_array }}<option value="{{ . }}">{{ . }}</option>{{ end }}
    </datalist>
    <button class="btn btn-light rating_add_rec sf-add-rec" type="button" data-identity="rating" id="rating_add_rec">Add Row</button>
    <button class="btn btn-danger rating_delete_rec sf-delete-rec" type="button" id="rating_delete_rec">Delete Selected Row</button>
    <!-- /rating card -->
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="rating-i-pop" tabindex="-1" role="dialog" aria-labelledby="rating-i-pop-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rating-i-pop-label">How to fill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ $md | markdownify }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
