<div class="container shadow-sm p-5 my-4 infocard-repository sf-infocard sf-component sf-repository">
  <span class="anchor" id="repository_anchor"></span>
  <span class="h4">Repository</span>
  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label sf-chk" for="repository_chk">
        <input type="checkbox" class="form-check-input sf-chk" id="repository_chk" checked="">
       Repository</label>
    </div>
  </div>
  <div class="repository_card">
    <div class="form-group">
      <textarea class="form-control shadow-sm repository" id="repository" cols="30" rows="2" placeholder="Repository1, Repository2, ..."></textarea>
      <small>mind the space after comma while separating two repositories :)</small>
    </div>
  </div>
  <!-- /repository_card -->
</div>
