{{ $md := (partial "i-content/social.md" .) }}

<div class="container shadow-sm p-5 my-4 infocard-social sf-infocard sf-component sf-social">
  <span class="anchor" id="social_anchor"></span>
  <span class="h4">Social</span>
  <span class="float-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm bg-nav text-clr2 font-weight-bold" data-toggle="modal" data-target="#social-i-pop">
      info
    </button>
  </span>
  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label sf-chk" for="social_chk">
        <input type="checkbox" class="form-check-input sf-chk" id="social_chk" checked="">
       Social</label>
    </div>
  </div>
  <div class="social_card">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">
            #
          </th>
          <th scope="col">
            Name
          </th>
          <th scope="col">
            URL
          </th>
        </tr>
      </thead>
      <tbody class="sf-body">
        <tr class="sf-rec">
          <th scope="row">
            <div class="form-check">
              <label class="form-check-label social_rec_chk sf-rec-chk">
                <input type="checkbox" class="form-check-input social_rec_chk sf-rec-chk">
                <span class="sf-label-text">1</span></label>
            </div>
          </th>
          <td>
            <input type="text" list="social_list" class="form-control name_social" id="name_social1" placeholder="Name">
          </td>
          <td>
            <textarea class="form-control url_social" id="url_social1" cols="30" rows="1" placeholder="URL"></textarea>
          </td>
        </tr>
      </tbody>
    </table>
    <datalist id="social_list">
      {{ $opt_array := (sort site.Data.datalist.social) }}
      {{ range $opt_array }}<option value="{{ . }}">{{ . }}</option>{{ end }}
    </datalist>
    <button class="btn btn-light social_add_rec sf-add-rec" type="button" data-identity="social" id="social_add_rec">Add Row</button>
    <button class="btn btn-danger social_delete_rec sf-delete-rec" type="button" id="social_delete_rec">Delete Selected Row</button>
  </div>
  <!-- /social_card -->
</div>

<!-- Modal -->
<div class="modal fade" id="social-i-pop" tabindex="-1" role="dialog" aria-labelledby="social-i-pop-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="social-i-pop-label">How to fill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ $md | markdownify }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
