{{ $md := (partial "i-content/sysreq.md" .) }}

<div class="container shadow-sm p-5 my-4 infocard-sysreq sf-infocard sf-component sf-sysreq">
  <span class="anchor" id="sysreq_anchor"></span>
  <span class="h4">System Requirements</span>
  <span class="float-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm bg-nav text-clr2 font-weight-bold" data-toggle="modal" data-target="#sysreq-i-pop">
      info
    </button>
  </span>
  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label sf-chk" for="sysreq_chk">
        <input type="checkbox" class="form-check-input sf-chk" id="sysreq_chk" checked="">
       System Requirements</label>
    </div>
  </div>
  
  <div class="sysreq_card sf-body">
    <div class="border rounded p-1 sf-rec">
      <details class="sysreq_version sf-component">
        <summary class="d-flex"><input type="text" class="form-control sysreq_version_name w-75" placeholder="Version name" value="latest"></input> <span class="ml-auto mr-5 my-auto">🡇</span> </summary>
        <div class="sf-body">
          <div class="sysreq_nav sf-rec">
            <input type="text" class="form-control sysreq_nav_name" placeholder="Nav name" value="general">
            <div class="sysreq_table_div sf-component">
              <div class="table-responsive-md mb-1">
                <table class="table table-bordered mb-0">
                  <thead>
                    <tr>
                      <th scope="col">
                        #
                      </th>
                      <th scope="col">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input min_sysreq_chk" checked="">
                            Minimum</label>
                        </div>
                      </th>
                      <th scope="col">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input recm_sysreq_chk">
                            Recommended</label>
                        </div>
                      </th>
                      <th scope="col">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input optm_sysreq_chk">
                            Optimal</label>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="sf-body">
                    <tr class="sf-rec">
                      <th scope="row">
                        <div class="form-check">
                          <label class="form-check-label sysreq_rec_chk sf-rec-chk">
                            <input type="checkbox" class="form-check-input sysreq_rec_chk sf-rec-chk">
                            <span class="sf-label-text">1</span></label>
                        </div>
                      </th>
                      <td>
                        <textarea class="form-control shadow-sm min_sysreq" cols="30" rows="2" placeholder="Minimum RAM/CPU/GPU..."></textarea>
                        <small class="text-muted">should not include double-quote ("")</small>
                      </td>
                      <td>
                        <textarea class="form-control shadow-sm recm_sysreq" cols="30" rows="2" placeholder="Recommended RAM/CPU/GPU..." disabled></textarea>
                        <small class="text-muted">should not include double-quote ("")</small>
                      </td>
                      <td>
                        <textarea class="form-control shadow-sm optm_sysreq" cols="30" rows="2" placeholder="Optimal RAM/CPU/GPU..." disabled></textarea>
                        <small class="text-muted">should not include double-quote ("")</small>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <small class="text-muted">markdown supported, except tables.</small>
              </div>
              <button class="btn btn-light sysreq_add_rec sf-add-rec" data-identity="sysreq_nav" type="button">Add Row</button>
              <button class="btn btn-danger sysreq_delete_rec sf-delete-rec" type="button">Delete Selected Row</button>
              <br><br>
              <div class="form group sf-component">
                <div class="form-check">
                  <label class="form-check-label src_sysreq_chk sf-chk">
                    <input class="form-check-input src_sysreq_chk sf-chk" type="checkbox" checked="">  Source:</label>
                </div>
                <label class="d-block small text-muted src_sysreq">
                  <textarea class="form-control shadow-sm src_sysreq" cols="30" rows="1" placeholder="Source1, Source2, ..."></textarea>
                  mind the space after comma while separating two sources :)
                </label>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary sysreq_add_nav sf-add-rec" data-identity="sysreq_version" data-injection="false" type="button">Add Nav</button>
      </details>
    </div>
  </div>
  <button class="btn btn-primary sysreq_add_version sf-add-rec" type="button" data-identity="sysreq" data-injection="false">Add Version</button>
  <p class="small text-muted mt-1">
    &middot; a simple version number. example, 3.1.2 <br>
    &middot; for a range of versions, use hyphen ('-'). example, 3.0.0 - 3.1.3 <br>
    &middot; for latest version use the word 'latest', with version number in brackets. example, latest (3.1.2) <br>
    &middot; it is recommended to use MMM-YYYY along with version number (or instead of version number in its absence), especially for latest version. example, latest (may-2024) <br>
    &middot; if version number is available then separate the MMM-YYYY by a bar ('|'). example, latest (1.0.0 - 1.1.5 | may-2024) <br>
    &middot; when an eariler latest version is no longer latest, simply drop the word latest and remove brackets. example, latest (1.0.0 - 1.1.5 | may-2024) => 1.0.0 - 1.1.5 | may-2024
  </p>
</div>

<!-- Modal -->
<div class="modal fade" id="sysreq-i-pop" tabindex="-1" role="dialog" aria-labelledby="sysreq-i-pop-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sysreq-i-pop-label">How to fill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ $md | markdownify }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
