<div class="container shadow-sm p-5 my-4 infocard-website sf-infocard sf-component sf-website">
  <span class="anchor" id="website_anchor"></span>
  <span class="h4">Website</span>
  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label sf-chk" for="website_chk">
        <input type="checkbox" class="form-check-input sf-chk" id="website_chk" checked="">
       Website</label>
    </div>
  </div>
  <div class="website_card">
    <div class="form-group">
      <input type="url" class="form-control shadow-sm website" size="30" placeholder="Website(s) ..."></input>
    </div>
  </div>
  <!-- /website_card -->
</div>
