{{ $md := (partial "i-content/written_in.md" .) }}

<div class="container shadow-sm p-5 my-4 infocard-written_in sf-infocard sf-component sf-written-in">
  <span class="anchor" id="written_in_anchor"></span>
  <span class="h4">Written in</span>
  <span class="float-right">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm bg-nav text-clr2 font-weight-bold" data-toggle="modal" data-target="#written_in-i-pop">
      info
    </button>
  </span>
  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label sf-chk" for="written_in_chk"><input type="checkbox" class="form-check-input sf-chk" id="written_in_chk" checked="">
       Written in</label>
    </div>
  </div>
  <div class="written_in_card">
    <div class="written_in_body sf-body">
      <!-- we need to create a datalist input here with add and delete buttons ofcourse -->
      <div class="form-group written_in_rec sf-rec">
        <div class="form-check">
          <label class="form-check-label written_in_rec_chk sf-rec-chk" for="written_in_rec_chk1">
            <input type="checkbox" class="form-check-input written_in_rec_chk sf-rec-chk" id="written_in_rec_chk1">
            <span class="sf-label-text">1</span></label>
        </div>
        <input type="text" list="written_in_list" class="form-control shadow-sm written_in" id="written_in1" placeholder="Computer Language">
      </div>
      <!-- /written_in_body -->
    </div>
    <datalist id="written_in_list">
      {{ $opt_array := (sort site.Data.datalist.written_in) }}
      {{ range $opt_array }}<option value="{{ . }}">{{ . }}</option>{{ end }}
    </datalist>
    <button class="btn btn-light written_in_add_rec sf-add-rec" type="button" data-identity="written_in">Add Row</button>
    <button class="btn btn-danger written_in_delete_rec sf-delete-rec" type="button">Delete Row</button>
    <br><br>
    <div class="form-group sf-component">
      <div class="form-check">
        <label class="form-check-label src_written_in_chk sf-chk" for="src_written_in_chk">
          <input type="checkbox" class="form-check-input src_written_in_chk sf-chk" id="src_written_in_chk" checked="">  Source :</label>
      </div>
      <label class="d-block small text-muted src_written_in">
        <textarea class="form-control shadow-sm src_written_in" cols="30" rows="1" placeholder="Source1, Source2, ..."></textarea>
      mind the space after comma while separating two sources :)</label>
    </div>
    <!-- /written_in_card -->
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="written_in-i-pop" tabindex="-1" role="dialog" aria-labelledby="written_in-i-pop-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="written_in-i-pop-label">How to fill</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ $md | markdownify }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
