<footer>
  <div class="container bg-nav text-center p-3">

    <a href="https://www.facebook.com/{{ site.Title }}/" class="m-3 py-2" data-toggle="tooltip" data-placement="bottom" title="Like us on Facebook" aria-label="Like us on Facebook"><span class="fa-2x">{{ site.Data.icons.facebook | safeHTML }}</span></a>
    <a href="https://twitter.com/{{ site.Title }}/" class="m-3 py-2" data-toggle="tooltip" data-placement="bottom" title="Follow us on Twitter" aria-label="Follow us on Twitter"><span class="fa-2x">{{ site.Data.icons.twitter | safeHTML }}</span></a>
    <a href="https://instagram.com/{{ lower site.Title }}/" class="m-3 py-2" data-toggle="tooltip" data-placement="bottom" title="Follow us on Instagram" aria-label="Follow us on Instagram"><span class="fa-2x">{{ site.Data.icons.instagram | safeHTML }}</span></a>
    <a href="https://gitlab.com/{{ site.Title }}/" class="m-3 py-2" data-toggle="tooltip" data-placement="bottom" title="Our Open Source Space" aria-label="Our Open Source Space"><span class="fa-2x">{{ site.Data.icons.gitlab | safeHTML }}</span></a>
    
    <div class="mt-3"></div>
    <span class="tg h4" style="cursor: default;">@<span class="brand ml-1">{{ site.Title }}</span></span>
  
  </div>
  <div class="container-fluid bg-clr2-light py-3 shadow-sm position-relative">
    <div class="row">
      <div class="col-md-7 my-auto">
        <span class="pl-5 desktop-only"></span>
        <p class="d-inline-block h1 tg text-center mb-4 mt-2">{{ site.Params.tagline }}</p>
      </div>
      <div class="col-md-5 text-antinav">
        <div class="card-deck">
          
          <!-- Softorage -->
          <div class="card rounded text-center bg-nav">
            <div class="card-body">
              <a class="text-decoration-none text-reset" href="{{ site.BaseURL }}"><div class="card-title h5 m-0">Softorage</div></a>
              <div class="card-text mt-3">
                <a class="text-reset small" href="{{ site.BaseURL }}what-we-do/" title="Our passion and purpose">What We Do</a><br>
                <a class="text-reset small" href="{{ site.BaseURL }}search/" title="Search through the collection of software">Search</a><br>
                <a class="text-reset small" href="{{ site.BaseURL }}categories/" title="Categorically arranged software">Categories</a><br>
                <a class="text-reset small" href="{{ site.BaseURL }}contribute/" title="Help us create the software directory that everyone would want to love">Contribute</a><br>
                <a class="text-reset small" href="{{ site.BaseURL }}get-involved/" title="Be part of the community and help make Softorage better">Get Involved</a><br>
                <a class="text-reset small" href="{{ site.BaseURL }}sitemap.xml">Sitemap</a>
              </div>
            </div>
          </div>
          
          <!-- Legal -->
          <div class="card rounded text-center bg-nav">
            <div class="card-body">
              <a class="text-decoration-none text-reset" href="{{ site.BaseURL }}legal/"><div class="card-title h5 m-0">Legal</div></a>
              <div class="card-text mt-4">
                <a class="text-reset small" href="{{ site.BaseURL }}legal/terms-and-conditions/">Terms and Conditions</a><br>
                <a class="text-reset small" href="{{ site.BaseURL }}legal/privacy-policy/">Privacy Policy</a><br>
                <a class="text-reset small" href="{{ site.BaseURL }}legal/disclaimer/">Disclaimer</a><br>
                <a class="text-reset small" href="{{ site.BaseURL }}legal/cookie-policy/">Cookie Policy</a><br>
                <a class="text-reset small" href="{{ site.BaseURL }}contact-us/" title="Got a tip? Feedback? Or maybe just want to say 'Hi!'?">Contact Us</a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <hr>
    <div class="container-fluid text-center mt-3">
      <span class="small text-muted">Copyright &#169; 2018-2020 {{ site.Title }} | Code licensed under <b><a class="text-reset" href="https://gitlab.com/Softorage/softorage.gitlab.io/blob/master/LICENSE">Apache license 2.0</a></b>. Unless otherwise noted, content licensed under <b><a class="text-reset" href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA-3.0 license</a></b>. | Site last generated: {{ now.Format "02 January, 2006" }}</span>
    </div>
  </div>
  <div class="container-fluid text-center text-antinav bg-mat p-2">
    From Asia's emerging giant and the country of <span style="color:rgb(255, 69, 122)">{{ site.Data.icons.heart | safeHTML }}</span>&nbsp;-&nbsp;&nbsp;<span class="font-weight-bold bg-white rounded px-2"><span style="color:#FF9933;">In</span><span style="color:#000080;">d</span><span style="color:#138808;">ia</span></span>
  </div>
</footer>
