<header>

<nav class="navbar navbar-expand navbar-light fixed-top">
  
  <a class="navbar-brand bg-nav rounded px-3" href="{{ site.BaseURL }}"><span class="tg">Softorage</span>&nbsp;<sup><span class="small text-clr2">β</span></sup></a>
  
  <a class="navbar-toggler border-0" role="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="text-antinav" style="cursor:pointer">	&#9776;</span>
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
    
      <li class="nav-item">
        
        <label class="btn btn-dark m-1" title="Open file">
          <input class="d-none border rounded filepath" type="file" name="myFile">
          📂
        </label>
        
        <button role="button" title="Save to file" class="btn btn-dark save m-1">💾</button>


        <!-- Button trigger modal - see /index.html file for the modal -->
        <button role="button" class="btn btn-dark shadow-none m-1" data-toggle="modal" data-target="#contents-modal">
        <span class="text-clr2">&#9776;</span>
        </button>
      
      </li>
      <!--
      <li class="nav-item">
        
        <a role="button" class="btn bg-nav shadow-none" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-placement="bottom" data-content="
        <a class='dropdown-item text-antinav' href='/contribute/'>Contribute!</a><br>
        "><span class="fas fa-ellipsis-v tg"></span></a>
        
      </li>
      -->
    </ul>
  </div>
  
</nav>

</header>
