{{ define "main" -}}

<div class="container-fluid bg-clr1-light text-clr1 text-center py-3 position-relative shadow-sm">
  <div style="height:3.5rem;"></div>
  <h1>{{ site.Title }}</h1>
  <p><b>S</b>oftware <b>A</b>ddition <b>W</b>ebpage</p>
  <span class="page-loading text-antinav mt-3">
    <span class="fas fa-circle-notch fa-spin"></span> &nbsp;Page is loading
  </span>
</div>

<!-- Modal -->
<div class="modal fade" id="contents-modal" tabindex="-1" role="dialog" aria-labelledby="contents-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contents-modal-label">Contents</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ol style="column-count:2;column-gap:3rem;">
          <li class="h6"><a href="#title_anchor">Title</a></li>
          <li class="h6"><a href="#description_anchor">Description</a></li>
          <li class="h6"><a href="#publishDate_anchor">Publish Date</a></li>
          <li class="h6"><a href="#aliases_anchor">Aliases</a></li>
          <li class="h6"><a href="#keywords_anchor">Keywords</a></li>
          <li class="h6"><a href="#image_anchor">Image</a></li>
          <li class="h6"><a href="#status_anchor">Status</a></li>
          <li class="h6"><a href="#website_anchor">Website</a></li>
          <li class="h6"><a href="#get_it_anchor">Get it</a></li>
          <li class="h6"><a href="#features_anchor">Features</a></li>
          <li class="h6"><a href="#quick_links_anchor">Quick Links</a></li>
          <li class="h6"><a href="#sysreq_anchor">System Requirements</a></li>
          <li class="h6"><a href="#rating_anchor">Rating</a></li>
          <li class="h6"><a href="#developer_anchor">Developer</a></li>
          <li class="h6"><a href="#license_anchor">License</a></li>
          <li class="h6"><a href="#initial_release_anchor">Initial release</a></li>
          <li class="h6"><a href="#repository_anchor">Repository</a></li>
          <li class="h6"><a href="#written_in_anchor">Written in</a></li>
          <li class="h6"><a href="#platform_anchor">Platform</a></li>
          <li class="h6"><a href="#categories_anchor">Categories</a></li>
          <li class="h6"><a href="#social_anchor">Social</a></li>
          <li class="h6"><a href="#note_anchor">Notes</a></li>
          <li class="h6"><a href="#save_anchor">Save</a></li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-mat">
  <p class="small py-3 px-5 text-muted container">
    NOTE: <br>
    &middot; Refrain from using double-quotes ("") in the values. Use single-quotes('') instead. <br>
    &middot; Make sure to uncheck the checkboxes that are not relevant before saving. <br>
    &middot; Reload the page before opening a software fiel for editing.
  </p>
  <hr class="border border-dark">
{{ partial "infocards/title.html" . }}
{{ partial "infocards/filename.html" . }}
{{ partial "infocards/description.html" . }}
{{ partial "infocards/publishDate.html" . }}
{{ partial "infocards/aliases.html" . }}
{{ partial "infocards/keywords.html" . }}
{{ partial "infocards/genre.html" . }}
{{ partial "infocards/image.html" . }}
{{ partial "infocards/status.html" . }}
{{ partial "infocards/website.html" . }}
{{ partial "infocards/get_it.html" . }}
{{ partial "infocards/platform.html" . }}
{{ partial "infocards/features.html" . }}
{{ partial "infocards/content.html" . }}
{{ partial "infocards/quick_links.html" . }}
{{ partial "infocards/sysreq.html" . }}
{{ partial "infocards/rating.html" . }}
{{ partial "infocards/developer.html" . }}
{{ partial "infocards/license.html" . }}
{{ partial "infocards/initial_release.html" . }}
{{ partial "infocards/repository.html" . }}
{{ partial "infocards/written_in.html" . }}
{{ partial "infocards/categories.html" . }}
{{ partial "infocards/social.html" . }}
{{ partial "infocards/note.html" . }}

</div>
{{ end }}
